{% extends 'users/layout.html' %}
{% load widget_tweaks %}

{% block body %}
<!-- New Login Form -->
<div class="container-fluid d-flex">
    <div class="row container-fluid reset-page g-0">
        <div class="col login-form">
            <!-- Form inspired by https://uiverse.io/alexruix/tender-badger-50 (slightly edited) -->
            <div class="uiform-box">
                <form method="POST" class="uiform">
                    <div class="d-flex flex-column">
                        <span class="loginlogo"><i class="bi bi-shield-lock"></i></span>
                        <span class="uititle">Reset Password</span>
                        <span class="uisubtitle">Forgot your password? Enter your email below and instruction to change your password will be sent.</span>
                    </div>
                    <div class="uiform-container">
                        {% csrf_token %}
                        {{ form.email|add_class:"uiinput form-control my-1"|attr:"placeholder:Email Address"}}
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %}{% endif %} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span>{{error}}</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="button-submit">Reset Password</button>
                </form>
                <div class="uiform-section">
                  <p>Don't have an account yes? <a href="/register">Register</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}