{% extends 'users/layout.html' %}
{% load widget_tweaks %}

{% block body %}
<!-- New Login Form -->
<div class="container-fluid d-flex">
    <div class="row container-fluid login-page">
        <div class="col login-form">
            <!-- Form inspired by https://uiverse.io/alexruix/tender-badger-50 (slightly edited) -->
            <div class="uiform-box d-flex flex-column gap-3 p-3">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="loginlogo"><i class="bi bi-mailbox-flag"></i></span>
                    <span class="uititle">Instructions Sent!</span>
                </div>
                <span class="uisubtitle text-center p-3">We've emailed you instructions on how to reset your password. <strong>If it doesn't arrive in a few minutes, please check your spam folder.</strong></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}